#header {
    border: 1px solid black;
}
#header ul li{
    list-style-type: none;
    text-align: center;
    display: inline-block;
    margin: 1rem;
}
.disabled {
    color: grey;

}

span.disabled {
    color:rgb(101, 84, 199);
}

span.active{
    color: yellow;
}

div.grandparent div.parent div:nth-child(1){
    color: red;
}

div.grandparent div.parent div div{
    color: blue;
}